*{
    margin: 0px;
}

body{
    background-color: rgb(185, 136, 30);  
}

header{
    color: rgb(247, 247, 91);
    text-align: center;
    background-color: brown;
   height: 7%;
   margin: 0%;
  line-height: 55px;
  font-size: 30px;
}

h2{
    color: rgb(231, 54, 23);
    background-color: brown;
}

.elements{
    text-align: center;
    background-color: rgb(185, 136, 30);
    margin: 5px;
   
}

#container{
    width: 90%;
    border: 5px solid black;
 margin: 1px auto;
}

.imag{
    border: 5px dotted black;
    background-color: rgb(224, 111, 35);
    padding: 1%;  
    width: 29%;
   
   
}

.desc{
    background-color: rgb(173, 108, 11);
    border: 5px solid black;
    width: 67.6%;
    padding: 1% 0%;
    font-size: 20px;
}

.ingre{
    background-color: rgb(104, 57, 3);
    width: 100%;
    padding: 2% 0%;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
   
}

.pasos{
    background-color: rgb(114, 31, 17);
    width: 100%;
    padding: 2% 0%;
    border-bottom: 5px solid black;
}

.OTRA{
    background-color: rgb(148, 104, 22);
    width: 100%;
    padding: 2% 0%;
    height: 100px;
}

.todo{
    display: flex;
   flex-wrap: wrap;
}
